
.navegation{

  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 100%;

}

.Nav-opcao{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.34%;
  background-color: #000000;
  cursor: pointer;
  opacity: 0.8;

}

.Nav-opcao img, .Nav-opcao span{
  opacity: 0.5;
}

.border1{
  border-radius: 10px 0 0 0;
}

.border3{
  border-radius: 0 10px 0 0;
}

.img-tab{

  height: 28px;
  width: 100%;

}

.span-nav{

  padding-top: 3px;
  font-size: 13px !important;
}

.span-youtu{

  position: relative;
  top: 2px !important;
}


.Nav-opcao.AtivoNav{

  background-color: #191718;
  opacity: 0.9;
  cursor: auto;
}

.Nav-opcao.AtivoNav img ,
.Nav-opcao.AtivoNav span{
  opacity: 1;
}

.Nav-opcao span{

  font-size: 1.5rem;
  color: rgb(255, 248, 248);
}
